@use 'variables';
@use 'classes';

/* thai */
/* latin */
@font-face {
    font-display: swap;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/-W_8XJnvUD7dzB2Ck_kIaWMu.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    font-family: 'Prompt';
    font-weight: normal;
    cursor: default;

    .blur {
        transition: 0.5s;
        background-color: var(--background-color-primary-opacity);
        filter: blur(10px);

    }
}

body {
    margin: 0;
    display: grid;
    background-color: var(--background-color-primary);

    // page de chargement
    .loading-screen {
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 10;

        .section-0 {
            width: 100%;
            height: 100%;
            background-color: black;
            padding: 4rem 0 10rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;


            .span-image {
                background: url('../images/cropped-image_2023-08-10_142556159-removebg-preview.png') no-repeat;
                background-size: contain;
                display: block;
                height: 12.5rem;
                width: 25rem;
                margin: 4rem auto 0 auto;
                overflow: hidden;
            }

            h1 {
                background-image: linear-gradient(to left, #94A4B0, #5F82A0, #3F6D97, #486078);
                -webkit-background-clip: text;
                color: transparent;
                font-size: 1.5rem;
                margin: 0
            }

            p {
                width: 35%;

                text-align: center;
                font-size: 0.8rem;
                color: white;
            }

            .span-icon {

                margin-top: 3rem;
                display: flex;
                justify-content: space-evenly;
                width: 35%;

                * {
                    height: 2.5rem;
                }
            }
        }

    }

    // header
    header {
        z-index: 1;
        // min-height: 75px;
        color: white;
        position: absolute;
        width: 100%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.76);


        &.open {



            div {
                background-color: black;
                z-index: 1;

                transition: all 0.5s ease-out;
                transform: perspective();

            }

            .header-container-1 {
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);

            }

            .header-container-2 {
                height: fit-content;
                position: absolute;
                width: 100%;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.76);
                display: flex;

                .description-container {

                    flex: 1;


                    .span-image {
                        height: 7.5rem;
                        width: 10rem;
                        display: block;
                        margin: 3rem auto 3rem 3rem;
                    }


                    p {
                        font-size: 0.65rem;
                        opacity: 0.75;
                        padding: 0 0 0 1rem;

                        &.description-titre {
                            font-size: 1rem;
                            opacity: 1;
                        }
                    }
                }

                .sous-menu-container {
                    flex: 3;
                    padding: 3rem 2rem 8rem 2rem;

                    margin-left: auto;

                    display: flex;
                    justify-content: end;
                    flex-wrap: wrap;

                    transition: flex-wrap 0.5s ease-out;
                    transform: perspective();



                    .sous-menu {
                        flex: 1;
                        letter-spacing: 0.1rem;
                        padding: 2rem 1rem;



                        .titre-container {
                            display: flex;
                            justify-content: start;

                            * {
                                color: white;
                                margin: 0 0;
                                padding: 0 0;
                                text-align: left;

                            }

                            div.icon-container {

                                .span-icon {
                                    position: absolute;
                                    width: 1rem;
                                    height: 1rem;
                                    display: block;
                                    background-color: #01FF01;
                                }
                            }


                            p {
                                font-size: 0.65rem;
                                // transition: 0.75s;
                                width: max-content;
                                padding-left: 23px;
                                padding-bottom: 0.5rem;
                                display: flex;

                                .green-word {
                                    color: #01FF01;
                                    text-shadow: 0px 1px 2px #01FF01;
                                    opacity: 0.85;
                                    margin: 0 5px 0 5px
                                }

                                .nouveau {
                                    position: absolute;
                                    margin-top: -1.5rem;
                                    margin-left: 2rem;
                                    text-shadow: 5px -4px 2px blue;
                                    opacity: 0.75;
                                }

                                .span-image {
                                    background: url('../images/trefle.png') center/contain no-repeat;
                                    display: block;
                                    width: 1rem;
                                    height: 1rem;
                                }
                            }
                        }

                    }

                    nav {
                        display: flex;
                        flex-direction: column;

                        a {
                            cursor: pointer;
                            height: 2rem;
                            width: max-content;
                            min-width: 8rem;
                            display: flex;
                            align-items: center;
                            opacity: 0.75;
                            font-size: 0.6rem;
                            transition: all 0.5s;

                            &:hover {
                                color: var(--blue-primary);
                                text-shadow: 5px 5px 2px blue;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        &.down-scroll {
            // apparition/disparition de la top-bar
            position: fixed;
            top: 0px;
            width: 100%;
            transition: top 0.3s;
            background-color: var(--background-color-primary-opacity);
            backdrop-filter: blur(5px);
        }


        .header-container-1 {
            height: 100%;
            width: 100%;
            display: flex;
            font-family: 'Prompt';
            letter-spacing: 3px;
            justify-content: space-between;


            img {
                cursor: pointer;
                height: 2.75rem;
                margin-top: 0.8rem;
                margin-left: 3rem;
                transition: transform 0.3s;

                &:hover {
                    transform: scale(1.05);
                }
            }

            .menu-container {
                width: 70%;
                display: flex;
                align-items: center;
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                align-items: center;


                p {
                    width: fit-content;
                    padding: 0 15px;
                    margin: .5rem 0;
                    cursor: pointer;
                    font-size: 0.65rem;

                    a {
                        margin: 0;
                    }


                    & a:hover {
                        transition: 0.5s;
                        color: var(--blue-primary);
                    }
                }
            }

            .nous-rejoindre {
                border-top: var(--blue-primary) solid 2px;
                border-left: var(--blue-primary) solid 2px;
                border-bottom: #FF3131 solid 2px;
                border-right: #FF3131 solid 2px;
                border-radius: 5px;
                letter-spacing: normal;
                height: fit-content;
                padding: 0 2rem 0 2rem;
                display: flex;
                margin-top: auto;
                margin-bottom: auto;
                margin-right: 3rem;


                &,
                & * {
                    cursor: pointer;
                }


                span.point {
                    background-color: var(--blue-primary);
                    border-radius: 50%;
                    height: 12px;
                    width: 12px;
                    margin-right: 10px;
                    margin-top: auto;
                    margin-bottom: auto;
                }

                p {
                    min-width: 8rem;
                    margin: 0;
                    font-size: 0.65rem;
                }

                &:hover {
                    transition: 0.2s;
                    border: var(--blue-primary) solid 2px;
                    color: var(--blue-primary);

                    span.point {
                        transition: 1.2s;
                        background-color: white;
                    }
                }
            }
        }



        // general header
        .active {
            color: var(--blue-primary);
        }

    }

    // content
    .content {
        padding: 0 2.5rem 4rem 2.5rem;
        margin-top: 170px;

        // titres
        h1 {
            font-size: 3rem;
            margin-top: 8rem;
            text-align: center;
        }

        h2 {
            font-size: 1.75rem;
        }

        h3 {
            font-size: 1.2rem;
        }

        h1,
        h2,
        h3 {
            letter-spacing: 0.2rem;
            color: white;
        }

        // textes
        p,
        a {
            text-align: center;

        }

        &a,
        p,
        li {
            letter-spacing: 2px;
            font-size: 0.75rem;
            color: var(--text-color-primary);
        }

        // listes
        ul {
            text-decoration: none;
            padding: 0 0 0 0;

            li {

                list-style-type: none;
            }

            &.with-blue-puce {
                li {
                    list-style-type: disc;
                }

                li::marker {
                    color: var(--blue-primary);
                }
            }
        }

        // sections
        section {
            margin-top: 2rem;
            margin-bottom: 15rem;

            .span-image {
                border-radius: 5px;
            }

            .tab p {
                padding-left: 2rem;
            }
        }
    }

    // footer
    footer {
        padding: 1rem 2rem;

        a,
        p,
        li {
            color: var(--text-color-primary);

        }

        ul {
            list-style-type: none;
            padding-left: 0;
        }

        .footer-container {
            padding: 2rem 0;
            display: flex;
            flex-wrap: wrap;


            div {
                margin-right: 6rem;
            }

            h3 {
                font-size: 1.8rem;
                max-width: 50px;
                color: white;
            }

            .footer-register {
                flex: 0.4;

                input {
                    width: 99%;
                    background-color: var(--background-color-general);
                    border: none;
                    border-bottom: var(--input-border-color) solid 1px;
                    font-size: 20px;
                    margin: 3rem 0 0 0;
                    color: var(--text-color-primary);

                    &:focus {
                        outline: none;
                    }
                }

                .footer-submit {
                    background-color: var(--blue-primary);
                    padding: .75rem 20rem;
                    border-radius: 15px;
                    margin: 3rem 0 0 0;
                }
            }

            .footer-coordonnees {
                flex: 0.3;

                li {
                    margin-bottom: 2rem;

                    span {

                        p {
                            margin: 0;
                        }
                    }
                }

            }

            .footer-services {
                flex: .3;

                li {
                    margin-bottom: 0;
                    padding-bottom: 1rem;
                }
            }



        }

        .footer-separator {
            height: 2px;
            background-color: var(--text-color-primary);
        }

        .footer-container2 {
            display: flex;
            padding-top: 2rem;

            .footer-links {
                flex: .4;
                display: flex;
                /* align-items: center; */
                flex-wrap: wrap;

                p {
                    margin: 0;
                    padding: 0 2rem;
                }
            }

            .footer-icons {
                flex: .2;
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                img {
                    height: 2rem;
                    width: 2rem;
                }
            }


            .footer-mention {
                flex: .4;
                text-align: center;
                margin-top: auto;
                margin-bottom: auto;


            }
        }

    }

}