header {
    .header-container-1 {
        height: 100%;
        width: 100%;
        display: flex;
        letter-spacing: 3px;
        justify-content: space-between;
        padding-left: 1%;


        img {
            cursor: pointer;

            max-width: 200px;
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.05);
            }
        }

        .menu-container {

            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;


            p {
                width: fit-content;
                padding: 0 15px;
                margin: .5rem 0;
                cursor: pointer;
                font-size: 0.65rem;

                a {
                    margin: 0;
                }


                & a:hover {
                    transition: 0.5s;
                    color: var(--blue-primary);
                }
            }

            .span-icon {
                display: none;
            }
        }

        .nous-rejoindre {

            padding: 0 2rem 0 2rem;
            margin: auto 3rem auto 1.5rem;
            letter-spacing: normal;







            p {
                min-width: 8rem;
                margin: 0;
                font-size: 0.65rem;
            }


        }
    }

    .header-container-mobil {
        display: none;
    }

    &.open {



        div {
            background-color: black;
            z-index: 1;

            transition: all 0.5s ease-out;
            transform: perspective();

        }

        .header-container-1 {
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);

        }

        .header-container-2 {
            height: fit-content;
            position: absolute;
            width: 100%;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.76);
            display: flex;

            .description-container {

                flex: 1;


                .span-image {
                    height: 7.5rem;
                    width: 10rem;
                    display: block;
                    margin: 3rem auto 3rem 3rem;
                }


                p {
                    font-size: 0.65rem;
                    opacity: 0.75;
                    padding: 0 0 0 1rem;

                    &.description-titre {
                        font-size: 1rem;
                        opacity: 1;
                    }
                }
            }

            .sous-menu-container {
                flex: 3;
                padding: 3rem 2rem 8rem 2rem;

                margin-left: auto;

                display: flex;
                justify-content: end;
                flex-wrap: wrap;

                transition: flex-wrap 0.5s ease-out;
                transform: perspective();



                .sous-menu {
                    flex: 1;
                    letter-spacing: 0.1rem;
                    padding: 2rem 1rem;



                    .titre-container {
                        display: flex;
                        justify-content: start;

                        * {
                            color: white;
                            margin: 0 0;
                            padding: 0 0;
                            text-align: left;

                        }

                        div.icon-container {

                            .span-icon {
                                position: absolute;
                                width: 1rem;
                                height: 1rem;
                                display: block;
                                background-color: #01FF01;
                            }
                        }


                        p {
                            font-size: 0.65rem;
                            // transition: 0.75s;
                            width: max-content;
                            padding-left: 23px;
                            padding-bottom: 0.5rem;
                            display: flex;

                            .green-word {
                                color: #01FF01;
                                text-shadow: 0px 1px 2px #01FF01;
                                opacity: 0.85;
                                margin: 0 5px 0 5px
                            }

                            .nouveau {
                                position: absolute;
                                margin-top: -1.5rem;
                                margin-left: 2rem;
                                text-shadow: 5px -4px 2px blue;
                                opacity: 0.75;
                            }

                            .span-image {
                                background: url('../images/trefle.png') center/contain no-repeat;
                                display: block;
                                width: 1rem;
                                height: 1rem;
                            }
                        }
                    }

                }

                nav {
                    display: flex;
                    flex-direction: column;

                    a {
                        cursor: pointer;
                        height: 2rem;
                        width: max-content;
                        min-width: 8rem;
                        display: flex;
                        align-items: center;
                        opacity: 0.75;
                        font-size: 0.6rem;
                        transition: all 0.5s;

                        &:hover {
                            color: var(--blue-primary);
                            text-shadow: 5px 5px 2px blue;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

// content
.content {
    margin-top: 90px;

    // titres
    h1 {
        font-size: 3rem;
        margin-top: 8rem;
        text-align: center;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h1,
    h2,
    h3 {
        letter-spacing: 0.2rem;

    }

    // textes

    &a,
    p,
    li {
        letter-spacing: 2px;
        font-size: 0.75rem;
    }



    // sections
    section {
        margin-top: 2rem;
        margin-bottom: 15rem;

        .span-image {
            border-radius: 5px;
        }

        .tab p {
            padding-left: 2rem;
        }
    }
}

footer {
    margin-top: 60px;

    h3 {}

    a,
    p,
    li {
        font-size: 20px;
    }

    ul {}

    .footer-container {
        .footer-register {
            h3 {}

            p:not([id="footer-submit"]) {}

            input {
                margin: 120px auto 20px auto;
                width: 50%;
            }

            p[id="footer-submit"] {
                width: 25%;
                margin: 0 auto 0 auto;
            }
        }

        .infos-services {
            display: flex;
            flex-wrap: nowrap;
            width: 75%;
            margin-left: auto;
            margin-right: auto;

            .footer-coordonnees {
                flex: 1;
                margin-top: 80px;

                h3 {
                    font-size: 40px;
                }


                span {
                    margin: 20px 0 20px 0;

                    p {}
                }

            }

            .footer-services {
                flex: 1;
                margin-top: 80px;

                h3 {
                    font-size: 40px;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    li {
                        margin: 10px 0 10px 0;
                        width: max-content;
                        min-height: 48px;
                        min-width: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }


    }

    .footer-separator {
        margin: 40px 0;
    }

    .footer-container2 {
        .footer-links {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 50%;
            margin-left: auto;
            margin-right: auto;

            p {
                display: flex;
                justify-content: center;
                align-items: center;
                width: max-content;
                min-height: 48px;
                min-width: 50%;
            }
        }

        .footer-icons {
            justify-content: space-evenly;
            margin: 60px auto 60px auto;
            width: 50%;

            img {}
        }

        .footer-mention {}
    }

}