header {

    .header-container-1 {

        div {
            flex: 1;
        }

        .logo-container {
            display: flex;
            align-items: center;

            img {
                max-height: 70px;
                width: 110%;
            }
        }

        .menu-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .span-icon {


                .bar {
                    &.milieu {}
                }
            }

            p {
                display: none;
            }
        }

        .nous-rejoindre {
            height: fit-content;
            margin: auto 0.25rem auto 0;


            span.point {}

            p {
                font-size: .65rem;
                margin: 0;
            }
        }
    }


    .header-container-2 {
        display: none;
    }


    &.open {
        .header-container-mobil {

            &.menu {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                .menu-mobil {
                    width: 75%;
                    margin: 0;
                    font-size: 1.2rem;
                    border: 1px solid white;
                    margin: 1rem 0;
                    border-radius: 15px;

                    p {
                        text-align: center;
                        margin: 0.5rem 0;
                    }
                }
            }

            &.sous-menu {

                .span-icon {
                    display: block;
                }

                .span-icon.retour {
                    position: absolute;
                    right: 1rem;
                    width: 60px;
                    height: 60px;
                    margin-right: 1rem;
                    margin-left: auto;
                }

                .sous-menu-mobil {
                    margin: 1.5rem 0 0.5rem 0;
                    padding-left: 1rem;
                    padding-right: 1rem;

                    .titre-container {
                        display: flex;
                        align-items: center;
                        // border: 1px dotted var(--blue-primary);

                        .icon-container {
                            padding: 0 5px;

                            .span-icon {
                                height: 1.5rem;
                                width: 1.5rem;
                            }
                        }

                        p {
                            color: var(--blue-primary);
                            margin: 0;
                            font-size: 1.25rem;
                        }

                        .nouveau {
                            margin-top: -3rem;
                            font-size: 0.65rem;
                        }

                        .green-word {
                            margin: 0 8px 0 8px;
                        }

                        .span-image {
                            width: 1.5rem;
                            height: 1.5rem;
                        }

                    }

                    nav {
                        display: flex;
                        flex-direction: column;
                        padding: 0 0 0 3rem;

                        a {
                            width: max-content;
                            min-width: 50%;
                            height: 48px;
                            display: flex;
                            align-items: center;
                            margin: 2.5px 0 2.5px 0;
                        }


                    }
                }
            }

        }
    }
}

// content
.content {
    margin-top: 90px;

    // titres
    h1 {
        font-size: 3rem;
        margin-top: 8rem;
        text-align: center;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h1,
    h2,
    h3 {
        letter-spacing: 0.2rem;

    }

    // textes

    &a,
    p,
    li {
        letter-spacing: 2px;
        font-size: 0.75rem;
    }



    // sections
    section {
        margin-top: 2rem;
        margin-bottom: 15rem;

        .span-image {
            border-radius: 5px;
        }

        .tab p {
            padding-left: 2rem;
        }
    }
}

footer {
    margin-top: 60px;

    h3 {}

    a,
    p,
    li {}

    ul {}

    .footer-container {
        .footer-register {
            h3 {}

            p:not([id="footer-submit"]) {}

            input {
                margin: 100px 0 20px 0;
                width: 99%;
            }

            p#footer-submit {
                width: 99%;
            }
        }

        .footer-coordonnees {
            margin-top: 60px;

            h3 {
                font-size: 30px;
            }


            span {
                margin: 10px 0 10px 0;

                p {}
            }

        }

        .footer-services {
            margin-top: 60px;

            h3 {
                font-size: 30px;
            }

            ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                li {
                    margin: 10px 0 10px 0;
                    width: max-content;
                    min-height: 48px;
                    min-width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    .footer-separator {
        margin: 40px 0;
    }

    .footer-container2 {
        .footer-links {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                display: flex;
                justify-content: center;
                align-items: center;
                width: max-content;
                min-height: 48px;
                min-width: 50%;
            }
        }

        .footer-icons {
            justify-content: space-evenly;
            margin: 60px 0 60px 0;

            img {}
        }

        .footer-mention {}
    }

}